
@{
    ViewBag.Title = "Theo dõi quá trình học của sinh viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Theo dõi quá trình học của sinh viên</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">@Html.ActionLink("Quá trình học của sinh viên", "Index", "QuaTrinhHoc")</li>
        @*<li class="breadcrumb-item active">Danh sách cán bộ phòng đào tạo</li>*@
    </ol>
    <div class="card mb-4">
        <div class="card-body">
           <h2>Theo dõi quá trình học tập của sinh viên</h2>
        </div>
    </div>
</div>
